@model WebUI.Areas.AreaComputadoras.Models.AdminComputadorasViewModel

@{
    Layout = null;
    ViewBag.Title = "Editar Computadoras";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar</title>
</head>
<body>
    <div>
        @using (Html.BeginRouteForm("FormRuta", new { }, FormMethod.Post, new { }))
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="panel-body">
                        @Html.HiddenFor(s => s.computadoras.ID)
                        <div class="form-group">
                            <label>
                                Nombre
                            </label>
                            @Html.TextBoxFor(s => s.computadoras.Fabricante, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(s =>  s.computadoras.Fabricante)
                        </div>

                        <div class="form-group">
                            <label>
                                Categoria
                            </label>
                            @Html.DropDownListFor(s => s.computadoras.Tipo, Model.categoria, new { @class = "form-control" })
                            @Html.ValidationMessageFor(s => s.computadoras.Tipo)
                        </div>

                        <div class="form-group">
                            <label>
                                Fabricante
                            </label>
                            @Html.TextBoxFor(s =>s.computadoras.Fabricante, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(s => s.computadoras.Fabricante)
                        </div>
                        <div class="form-group">
                            <label>
                                Modelo
                            </label>
                            @Html.TextBoxFor(s => s.computadoras.modelo, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(s => s.computadoras.modelo)
                        </div>
                        <div class="form-group">
                            <label>
                                Serie
                            </label>
                            @Html.TextBoxFor(s => s.computadoras.serie, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(s => s.computadoras.serie)
                        </div>
                        <div class="form-group">
                            <label>
                                Factura
                            </label>
                            @Html.TextBoxFor(s => s.computadora.factura, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(s => s.computadora.factura)
                        </div>
                        <div>
                            <label>
                                Descripcion
                            </label>

                            @Html.TextAreaFor(s => s.computadora.Descripcion, new { @class = "form-control", rows = 5 });
                            @Html.ValidationMessageFor(s => s.computadora.Descripcion)
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel-body">

                        <div class="form-group">
                            <label>
                                Fecha de Alta
                            </label>
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.suministro.FechaAlta, null, new { @class = "form-control", id = "datepicker", style = "width:70% !important" })
                            </div>
                            @Html.ValidationMessageFor(s => s.suministro.FechaAlta)
                        </div>
                        <div class="form-group">
                            <label>
                                Proveedor
                            </label>
                            @Html.TextBoxFor(s => s.suministro.Proveedor, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(s => s.suministro.Proveedor)
                        </div>
                        <div class="form-group">
                            <label>
                                Estatus
                            </label>
                            @Html.DropDownListFor(s => s.suministro.Estatus, new SelectListItem[]
                                { new SelectListItem() { Text = "Disponible", Value = "Disponible" },
                                  new SelectListItem() { Text = "Ocupado", Value = "Ocupado" } },
                                new { @class = "form-control BusquedaDropDownList ml-sm-0 mr-sm-0" })
                            @Html.ValidationMessageFor(s => s.suministro.Estatus)
                        </div>
                        <div class="form-group">
                            <label>
                                Cantidad
                            </label>
                            @Html.TextBoxFor(s => s.suministro.Cantidad, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(s => s.suministro.Cantidad)
                        </div>
                        <div class="form-group">
                            <label>
                                Cantidad Disponible
                            </label>
                            @Html.TextBoxFor(s => s.suministro.CantidadDisponible, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(s => s.suministro.CantidadDisponible)
                        </div>
                        <div class="form-group">
                            <label>
                                Precio Unitario
                            </label>
                            @Html.TextBoxFor(s => s.suministro.precioUnitario, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(s => s.suministro.precioUnitario)
                        </div>
                        <div class="form-group">
                            <label>
                                Precio
                            </label>
                            @Html.TextBoxFor(s => s.suministro.precio, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(s => s.suministro.precio)
                        </div>
                        <div>
                            <label>
                                Observaciones
                            </label>

                            @Html.TextAreaFor(s => s.suministro.Observaciones, new { @class = "form-control", rows = 5 });
                            @Html.ValidationMessageFor(s => s.suministro.Observaciones)
                        </div>
                    </div>
                </div>

            </div>
            if (TempData["MensajeAdmin"] != null)
            {
                <div class="row" style="text-align:center">
                    <div class="panel-footer panelBottom">
                        <label style="display: inline-block; margin-right:50px;color:white">Suministro Guardado</label>
                        <button class="btn btn-primary" id="btnCerrar" style="display: inline-block">Cerrar</button>
                    </div>
                </div>
            }
            else
            {
                <div class="row" style="text-align:center">
                    <div class="panel-footer panelBottom">
                        <input type="submit" value="Guardar" class="btn btn-primary" style="display: inline-block; margin-right:50px;" />
                        <button class="btn  btn-danger" id="btnCerrar" style="display: inline-block">Cerrar</button>
                    </div>
                </div>
            }

        }
    </div>
</body>
</html>
