@model WebUI.Areas.AreaComputadoras.Models.ComputadoraViewModel
@using WebUI.HtmlHelpers
@{
    ViewBag.Title = "ComputadorasLista";
    Layout = "~/Views/_AlmacenLayout.cshtml";
}
<link href="~/Content/Computadoras.css" rel="stylesheet" />

<div class="fixTopComputadoras">
    <div class="container-fluid Cabecera">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 pull-left">
                    <h3>Lista de Computadoras</h3>
                </div> 
            <div class="col-md-8">
                <div class="searchInputGroup">
                    @using (Html.BeginForm("ComputoBusqueda", "Computadoras", null, FormMethod.Get, new { @class = "form-inline  pull-right", role = "form" }))
                    {
                        <div class="input-group">
                            <div class="input-group-btn">
                                @Html.DropDownListFor(Model => Model.CampoBusqueda, new SelectListItem[]
                                { new SelectListItem() { Text = "Categoria", Value = "Categoria" },
                                  new SelectListItem() { Text = "Factura", Value = "Factura" },
                                  new SelectListItem() { Text = "Disponibilidad", Value = "Disponibilidad" },
                                  new SelectListItem() { Text = "Modelo", Value = "Modelo" },
                                  new SelectListItem() { Text = "Fabricante", Value = "Fabricante" }},
                                new { @class = "form-control BusquedaDropDownList ml-sm-0 mr-sm-0" })
                            </div>
                            <div class="">
                                @Html.TextBoxFor(Model => Model.terminoBusqueda, "Termino a buscar", new { @class = "form-control BusquedaTextBox ml-sm-0 mr-sm-0" })
                            </div>
                            <div class="input-group-btn">
                                <button class="btn btn-default" style="height:34px" type="submit"><span class="glyphicon glyphicon-search" style="font-size:12px"></span></button>
                            </div>
                            <div class="input-group-btn">
                                <a href="@Url.Action("ComputadorasLista", "Computadoras")" style="height:34px" class="btn btn-default">
                                    <span class="glyphicon glyphicon-remove" style="font-size:16px; margin-top:2px" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
    <div class="container-fluid">
        <br />
        <div class="container-fluid tablaComputadorasCabezera">
            <div class="row">
                <div class="col-md-3 pull-left">
                    <a href="@Url.Action("Crear", "AdminComputadoras", new { pagina = 1, NumItems = 15})" class="btn btn-default" target="_blank">
                        Agregar    <span class="glyphicon glyphicon-plus-sign" style="font-size:12px;display:inline-block;position:static !important"></span>
                    </a>

                </div>
                <div class="col-md-1 col-md-offset-5">

                    <div class="dropdown pull-right">
                        <button class="btn btn-primary dropdown-toggle btnItems" type="button" data-toggle="dropdown">
                            # Items por pagina
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("15  items", "ComputadorasLista", new { pagina = 1, NumItems = 15, orden = Model.OrdenFecha })</li>
                            <li>@Html.ActionLink("25  items", "ComputadorasLista", new { pagina = 1, NumItems = 25, orden = Model.OrdenFecha })</li>
                            <li>@Html.ActionLink("50  items", "ComputadorasLista", new { pagina = 1, NumItems = 50, orden = Model.OrdenFecha })</li>
                            <li>@Html.ActionLink("100 items", "ComputadorasLista", new { pagina = 1, NumItems = 100, orden = Model.OrdenFecha })</li>
                        </ul>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="pull-right">
                        @Html.PageLinks(Model.PaginaInfo, x => Url.Action("ComputadorasLista", new { pagina = x, NumItems = Model.itemsPorPagina, orden = Model.OrdenFecha }))
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="container fixTopTablaComputadoras">
    <table  class="table table-sm table-hover table-responsive tablaComputadora table-striped">
        <thead>
            <tr>
                <th class="col-sm-1"></th>
                <th class="col-sm-6"></th>
                <th class="col-sm-1"></th>
                <th class="col-sm-1"></th>
                <th class="col-sm-1" style="padding: 5px 0px 2px 0px">
                    @{ string ord = Model.OrdenFecha == "asc" ? "dsc" : "asc"; }
                    <a href="@Url.Action("ComputadorasLista", "Computadoras",new { pagina = 1, NumItems = 15, orden = ord })" style="height:20px;width:100px;background-color: #E0F2F1;padding:0px !important;" class="btn btn-default">

                        @if (ord == "asc")
                        {

                            <span class="glyphicon glyphicon-menu-down" style="font-size:12px;display:inline-block;position:static !important" aria-hidden="true"></span>
                        }
                        else
                        {

                            <spam class="glyphicon glyphicon-menu-up" style="font-size:12px; display:inline-block;position:static !important" aria-hidden="true"></spam>
                        }
                    </a>
                </th>
                <th class="col-sm-2"></th>
            </tr>
        </thead>

        <tbody>
            @{ int i = 0; }
            @{ string fondoCelda = "bg-success";}

            @foreach (var s in Model.ListaComputadoras)
            {
                i++;
                fondoCelda = (i % 2 == 0 ? "bg-success" : "whiteRow");
                <tr class="FilaSuministro">
                    <th class="col-sm-1" scope="row"># @s.ID</th>
                    <td class="col-sm-6"><span class="FilasHeaders">Computadora</span><br /><span class="FilasTexto"><b>@s.Tipo  @s.Fabricante @s.modelo</b></span></td>
                    <td class="col-sm-1"><span class="FilasHeaders">Direccion Red</span><br /><span><b>@s.IP</b></span></td>
                    <td class="col-sm-1"><span class="FilasHeaders">Estatus</span><br /> <span><b>@s.Estatus</b></span> </td>
                    <td class="col-sm-1"><spam class="FilasHeaders">Fecha reg.</spam><br /> <spam><b>@s.FechaAlta.ToShortDateString()</b></spam> </td>
                    <td class="col-sm-2">
                        <button class="btn btn-primary btn-circle" type="button" data-toggle="collapse" data-target="#DetallesFila@(i)" aria-expanded="false" aria-controls="DetallesControl">
                            <i class="glyphicon glyphicon-list" style="font-size:small;position:static !important"></i>
                        </button>

                        <a href="@Url.Action("Editar", "AdminComputadoras", new { id = @s.ID})" target="_new" class="btn btn-circle  btn-warning ">
                            <i class="glyphicon glyphicon-edit" style="font-size:small;position:static !important"></i>
                        </a>
                        <a href="@Url.Action("Borrar", "AdminComputadoras", new { id = @s.ID})" class="btn btn-circle  btn-danger ">
                            <i class="glyphicon glyphicon-trash" style="font-size:small;position:static !important"></i>
                        </a>
                    </td>
                </tr>
                <tr class="collapse" id="DetallesFila@(i)">
                    <td class="col-sm-1"></td>
                    <td class="col-sm-11 celdaDetalles " colspan="5">
                        <div class="row">
                            <div class="col-md-1">
                                <h4>Modelo </h4>
                                <span>@s.modelo</span>
                            </div>
                            <div class="col-md-1">
                                <h4>Fabricante </h4>
                                <span>@s.Fabricante</span>
                            </div>
                            <div class="col-md-1">
                                <h4>Serie </h4>
                                <span>@s.serie</span>
                            </div>
                            <div class="col-md-2">
                                <h4>Proveedor </h4>
                                <span>@s.Proveedor</span>
                            </div>
                            <div class="col-md-2">
                                <h4>Factura </h4>
                                <span>@s.factura</span>
                            </div>
                            <div class="col-md-2">
                                <h4>Precio </h4>
                                <span>@s.Precio</span>
                            </div>
                            <div class="col-md-2">
                                <h4>Procesador </h4>
                                <span>@s.Procesador</span>
                            </div>
                        </div>
                        <div class="row" style="border-top: 1px dotted #455A64;">
                            <div class="col-md-2">
                                <h4>Cantidad Disponible</h4>
                                <span>@s.Ram</span>
                            </div>
                            <div class="col-md-5">
                                <h4>Descripcion </h4>
                                <span>@s.Descripcion</span>
                            </div>
                            <div class="col-md-5">
                                <h4>Observaciones </h4>
                                <span>@s.Observaciones</span>
                            </div>

                        </div>
                    </td>

                </tr>
            }
        </tbody>


    </table>
</div>

