@using WebUI.HtmlHelpers
@model WebUI.Models.SuministroViewModel

@{
    ViewBag.Title = "SuministrosLista";
    Layout = "~/Views/_AlmacenLayout.cshtml";
}

<link href="~/Content/Suministros.css" rel="stylesheet" />

<div class="container-fluid Cabecera">
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <h2>Lista de Suministros</h2>
            </div>
            <div class="col-md-4">
              
            </div>
            <div class="col-md-4">
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <div class="dropdown pull-right">
                    <button class="btn btn-primary dropdown-toggle btnItems" type="button" data-toggle="dropdown">
                        Items
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("15", "SuministrosLista", new { pagina = 1, NumItems = 15 })</li>
                        <li>@Html.ActionLink("25", "SuministrosLista", new { pagina = 1, NumItems = 25 })</li>
                        <li>@Html.ActionLink("50", "SuministrosLista", new { pagina = 1, NumItems = 50 })</li>
                        <li>@Html.ActionLink("100", "SuministrosLista", new { pagina = 1, NumItems = 100 })</li>
                    </ul>
                </div>

            </div>
            <div class="col-md-4">

                <div class="pull-right">
                    @Html.PageLinks(Model.PaginaInfo, x => Url.Action("SuministrosLista", new { pagina = x, NumItems = Model.itemsPorPagina }))
                </div>

            </div>
        </div>
    </div>
</div>

   <div class="container-fluid">
       <br />
       <div class="container-fluid tablaSuministroCabezera">
       

       </div>
       <table class="table table-sm table-hover table-responsive tablaSuministro table-striped">
           @*<thead>
               <tr>
                   <th class="col-sm-1">ID</th>
                   <th class="col-sm-2">Categoria</th>
                   <th class="col-sm-2">Fabricante</th>
                   <th class="col-sm-2">Modelo</th>
                   <th class="col-sm-2">Factura</th>
                   <th class="col-sm-2">Estatus</th>
                   <th class="col-sm-1">Fecha Entrada</th>
               </tr>
           </thead>*@
           <tbody> 
               @{ int i = 0; }
               @{ string fondoCelda = "bg-success";}

               @foreach (var s in Model.ListaArticulos)
               { i++;
                   fondoCelda = (i%2==0? "bg-success" : "whiteRow");
                    <tr class="FilaSuministro" >
                       <th  class="col-sm-1" scope="row">@s.ID</th>
                       <td  class="col-sm-6"><span class="FilasHeaders" >Suministro</span><br /><span class="FilasTexto">@s.Tipo  @s.Fabricante @s.Modelo</span></td>
                       <td  class="col-sm-1"><span class="FilasHeaders">Cantidad</span><br /><span>@s.Cantidad</span></td>
                       <td  class="col-sm-1"><span class="FilasHeaders">Estatus</span><br /> <span>@s.Estatus</span> </td>
                       <td  class="col-sm-1"><spam class="FilasHeaders">Fecha reg.</spam><br /> <spam>@s.FechaAlta.ToShortDateString()</spam> </td>
                       <td class="col-sm-2">
                           <button class="btn btn-primary btn-circle" type="button" data-toggle="collapse" data-target="#DetallesFila@(i)" aria-expanded="false" aria-controls="DetallesControl">
                               <i class="glyphicon glyphicon-list" style="font-size:small"></i>
                            </button>
                       </td>
                   </tr>
                   <tr class="collapse" id="DetallesFila@(i)">
                       <td class="col-sm-2">@s.Descripcion</td>
                       <td class="col-sm-2">@s.Observaciones</td>
                       <td class="col-sm-2">@s.Serie</td>
                   </tr>
               }
           </tbody>
       </table>
   </div>


<script>
    $('.dropdown-toggle').dropdown()
</script>
