@using WebUI.HtmlHelpers
@model WebUI.Models.SuministroViewModel

@{
    ViewBag.Title = "SuministrosLista";
    Layout = "~/Views/_AlmacenLayout.cshtml";
}

<link href="~/Content/Suministros.css" rel="stylesheet" />

<div class="fixTopSuministros">
    <div class="container-fluid Cabecera">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 pull-left">
                    <h3>Lista de Suministros</h3>
                </div>
                <div class="col-md-8">
                    <div class="searchInputGroup">
                        @using (Html.BeginForm("SuministroBusqueda", "Suministro", null, FormMethod.Get, new { @class = "form-inline  pull-right", role = "form" }))
                        {
                            <div class="input-group">
                                <div class="input-group-btn">
                                    @Html.DropDownListFor(Model => Model.CampoBusqueda, new SelectListItem[]
                                { new SelectListItem() { Text = "Categoria", Value = "Categoria" },
                                  new SelectListItem() { Text = "Factura", Value = "Factura" },
                                  new SelectListItem() { Text = "Disponibilidad", Value = "Disponibilidad" },
                                  new SelectListItem() { Text = "Modelo", Value = "Modelo" },
                                  new SelectListItem() { Text = "Fabricante", Value = "Fabricante" }},
                                new { @class = "form-control BusquedaDropDownList ml-sm-0 mr-sm-0" })
                                </div>
                                <div class="">
                                    @Html.TextBoxFor(Model => Model.terminoBusqueda, "Termino a buscar", new { @class = "form-control BusquedaTextBox ml-sm-0 mr-sm-0" })
                                </div>
                                <div class="input-group-btn">
                                    <button class="btn btn-default" style="height:34px" type="submit"><span class="glyphicon glyphicon-search" style="font-size:12px"></span></button>
                                </div>
                                <div class="input-group-btn">
                                    <a href="@Url.Action("SuministrosLista", "Suministro")" style="height:34px" class="btn btn-default">
                                        <span class="glyphicon glyphicon-remove" style="font-size:16px; margin-top:2px" aria-hidden="true"></span>
                                    </a>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <br />
        <div class="container-fluid tablaSuministroCabezera  ">
            <div class="row">
                <div class="col-md-3 pull-left">
                    <a href="@Url.Action("Editar", "AdminSuministro", new { pagina = 1, NumItems = 15})" class="btn btn-default">
                        Agregar    <span class="glyphicon glyphicon-plus-sign" style="font-size:12px;display:inline-block;position:static !important"></span>
                    </a>

                </div>
                <div class="col-md-1 col-md-offset-5">

                    <div class="dropdown pull-right">
                        <button class="btn btn-primary dropdown-toggle btnItems" type="button" data-toggle="dropdown">
                            # Items por pagina
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("15  items", "SuministrosLista", new { pagina = 1, NumItems = 15, orden = Model.OrdenFecha })</li>
                            <li>@Html.ActionLink("25  items", "SuministrosLista", new { pagina = 1, NumItems = 25, orden = Model.OrdenFecha })</li>
                            <li>@Html.ActionLink("50  items", "SuministrosLista", new { pagina = 1, NumItems = 50, orden = Model.OrdenFecha })</li>
                            <li>@Html.ActionLink("100 items", "SuministrosLista", new { pagina = 1, NumItems = 100, orden = Model.OrdenFecha })</li>
                        </ul>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="pull-right">
                        @Html.PageLinks(Model.PaginaInfo, x => Url.Action("SuministrosLista", new { pagina = x, NumItems = Model.itemsPorPagina, orden = Model.OrdenFecha }))
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="container fixTopTablaSuministros">
    <table class="table table-sm table-hover table-responsive tablaSuministro table-striped">
        <thead>
                <tr>
                    <th class="col-sm-1"></th>
                    <th class="col-sm-6"></th>
                    <th class="col-sm-1"></th>
                    <th class="col-sm-1"></th>
                    <th class="col-sm-1" style="padding: 5px 0px 2px 0px">
                        @{ string ord = Model.OrdenFecha == "asc" ? "dsc" : "asc"; }
                        <a href="@Url.Action("SuministrosLista", "Suministro", new { pagina = 1, NumItems = 15, orden = ord })" style="height:20px;width:100px;background-color: #E0F2F1;padding:0px !important;" class="btn btn-default">
                          
                            @if (ord == "asc")
                            {
                               
                                <span class="glyphicon glyphicon-menu-down" style="font-size:12px;display:inline-block;position:static !important" aria-hidden="true"></span>
                            }
                            else
                            {
                             
                                <spam class="glyphicon glyphicon-menu-up" style="font-size:12px; display:inline-block;position:static !important" aria-hidden="true"></spam>
                            }
                        </a>
                    </th>
                    <th class="col-sm-2"></th>
                </tr>
            </thead>
        <tbody>
            @{ int i = 0; }
            @{ string fondoCelda = "bg-success";}

            @foreach (var s in Model.ListaArticulos)
            {
                i++;
                fondoCelda = (i % 2 == 0 ? "bg-success" : "whiteRow");
                <tr class="FilaSuministro">
                    <th class="col-sm-1" scope="row"># @s.ID</th>
                    <td class="col-sm-6"><span class="FilasHeaders">Suministro</span><br /><span class="FilasTexto">@s.Tipo  @s.Fabricante @s.Modelo</span></td>
                    <td class="col-sm-1"><span class="FilasHeaders">Cantidad</span><br /><span>@s.Cantidad</span></td>
                    <td class="col-sm-1"><span class="FilasHeaders">Estatus</span><br /> <span>@s.Estatus</span> </td>
                    <td class="col-sm-1"><spam class="FilasHeaders">Fecha reg.</spam><br /> <spam>@s.FechaAlta.ToShortDateString()</spam> </td>
                    <td class="col-sm-2">
                        <button class="btn btn-primary btn-circle" type="button" data-toggle="collapse" data-target="#DetallesFila@(i)" aria-expanded="false" aria-controls="DetallesControl">
                            <i class="glyphicon glyphicon-list" style="font-size:small;position:static !important"></i>
                        </button>

                        <a href="@Url.Action("Editar", "AdminSuministro", new { id = @s.ID})" target="_new" class="btn btn-circle  btn-warning ">
                            <i class="glyphicon glyphicon-edit" style="font-size:small;position:static !important"></i>
                        </a>

                    </td>
                </tr>
                <tr class="collapse" id="DetallesFila@(i)">
                    <td class="col-sm-1"></td>
                    <td class="col-sm-11 celdaDetalles " colspan="5">
                    <div class="row">
                        <div class="col-md-1">
                            <h4>Nombre </h4>
                            <span>@s.Nombre</span>
                        </div>
                        <div class="col-md-1">
                            <h4>Fabricante </h4>
                            <span>@s.Fabricante</span>
                        </div>
                        <div class="col-md-1">
                            <h4>Modelo </h4>
                            <span>@s.Modelo</span>
                        </div>  
                        <div class="col-md-1">
                            <h4>Serie </h4>
                            <span>@s.Serie</span>
                        </div>
                        <div class="col-md-2">
                            <h4>Proveedor </h4>
                            <span>@s.Proveedor</span>
                        </div>
                        <div class="col-md-2">
                            <h4>Factura </h4>
                            <span>@s.Factura</span>
                        </div>
                        <div class="col-md-2">
                            <h4>Precio </h4>
                            <span>@s.precio</span>
                        </div>
                        <div class="col-md-2">
                            <h4>Precio Unitario </h4>
                            <span>@s.precioUnitario</span>
                        </div>
                    </div>
                    <div class="row" style="border-top: 1px dotted #455A64;">
                        <div class="col-md-2">
                            <h4>Cantidad Disponible</h4>
                            <span>@s.CantidadDisponible</span>
                        </div>
                        <div class="col-md-5">
                            <h4>Descripcion </h4>
                            <span>@s.Descripcion</span>
                        </div>
                        <div class="col-md-5">
                            <h4>Observaciones </h4>
                            <span>@s.Observaciones</span>
                        </div>
                       
                    </div>
                    </td>
               
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $('.dropdown-toggle').dropdown();

    $(document).ready(function (e) {
        $('.search-panel .dropdown-menu').find('a').click(function (e) {
            e.preventDefault();
            var concept = $(this).text();
            $('.search-panel span#search_concept').text(concept);
            $('.input-group #search_param').val(param);
        });
    });
</script>
